*{
    margin:0;
    padding: 0;
}

body{
  
    text-align: center;
}
.contianer{
    margin-top: 20px;
    width: 800px;
    background-color: aquamarine;
   margin-left: auto;
   margin-right: auto;
    height: 700px;
    border-radius: 10px;
    border: 1px solid yellowgreen;

}
.city-boxes1{
    margin-top: 18px;
    margin-left:10px;
    margin-right: 10px;
   

}
.boxies{
    
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
     margin-bottom: 5px;
    border-radius: 10px;
   padding: 30px 20px 15px;
}
